@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 1px;
    padding: 1px;
    font-family: 'Poppins', sans-serif;
}

body{   
    background-image: url("media/komi.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-interpolation-mode: bicubic;
    background-attachment:fixed;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

header h1 a {
    text-decoration: none;
    color: whitesmoke;
    transition: 1s;
    text-shadow: 2px 2px gray;
}

header h1 a:hover {
    color: #aaaaaa;
}

.nav_links {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bolder;
}

.nav_links a{
    text-decoration: none;
    color: whitesmoke;
}

.button {
    background-color: #7289da;
    border: none;
    border-radius: 5px;
    margin: 0px 5px 0px 5px;
    transition: 1s;
    padding: 5px 8px 5px 8px;
}

.button:hover{
    cursor: pointer;
    background-color: #2c2f33;
}

content h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: bolder;
    text-shadow: 0px 0px 5px black;
}


footer a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    color: white;
}

footer a:hover {
    cursor: pointer;
}

@media (max-width: 869px) {
    content h1 {
        text-align: center;
        font-size: 30px;
        margin-top: 0px;
    }

    footer{
        color: black;
    }
    footer a{
        color:black;
    }

    header {
        background-color: #18181842;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        align-content: center;
    }

    header h1 {
        text-align: center;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        padding: 20px;
    }

}
