*{
    margin: 2px;
    padding: 2px;
}

body{
    background-image: url("images/komi_bg.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-interpolation-mode: bicubic;
    background-attachment:fixed;
}

.btn{
    background-color: #7289da;
    color: white;
}

.credits{
    position: absolute;
    left: 1px;
    bottom: 1px;
    color: white;
    font-size: smaller;
}