*{
    margin: 1px;
    padding: 1px;
}

body{
    background-image: url("media/komi_bg.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-interpolation-mode: bicubic;
    background-attachment:fixed;
}

.header{
    color: black;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
}
.header:hover{
    color: black;
}

.btn{
    background-color: #7289da;
    color: white;
}



.card{
    width: 300px;
    background-color: #2c2f33;
    color: #ffffff;
    transition: transform 0.25s, box-shadow 0.25s;
}
.card:hover{
    box-shadow: 0px 0px 10px black;
    transform: scale(1.005);
    z-index: 1;
}